name: "CI/CD OTS November 2025"
on:
  push:
    branches:
      - 'main'
jobs:
  postgres-spin-up:
    runs-on: ubuntu-latest
    container: node:20-bookworm-slim

    services:
      postgres:
        # Docker Hub image
        image: postgres:15.15-alpine3.22
        env:
          POSTGRES_USERNAME: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
