name: "CI/CD OTS November 2025"
on:
  push:
    branches:
      - 'main'
jobs:
  postgres-spin-up:
    runs-on: ubuntu-latest

    services:
      postgres:
        # Docker Hub image
        image: postgres:15.15-alpine3.22
        env:
          POSTGRES_DB: measdb
          POSTGRES_USERNAME: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
